.app {
    background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, .1)), url('./img/hero1800w.jpg');
    background-size: 100% 100%;
    width: 100%;

    // Responsive sizes for hero img:
    @media only screen and (max-width: $bp-largest) {
        background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, .1)), url('./img/hero1600w.jpg');
    }

    @media only screen and (max-width: $bp-larger) {
        background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, .1)), url('./img/hero1400w.jpg');
    }

    @media only screen and (max-width: $bp-large) {
        background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, .1)), url('./img/hero1200w.jpg');
    }

    @media only screen and (max-width: $bp-medium-large) {
        background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, .1)), url('./img/hero1000w.jpg');
    }

    @media only screen and (max-width: $bp-medium) {
        background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, .1)), url('./img/hero800w.jpg');
    }

    @media only screen and (max-width: $bp-small) {
        background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, .1)), url('./img/hero600w.jpg');
    }

    @media only screen and (max-width: $bp-smallest) {
        background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, .1)), url('./img/hero400w.jpg');
    }

    &__header {
        font-family: $font-heading;
        text-align: center;
        padding: 2rem 0;
        font-size: 6rem;
        color: $color-white;
        text-shadow: 1px 1px 1px rgba($color-black, .7);
    }

    &__videoContent {
        display: grid;
        grid-template-columns: 3fr 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 5rem;
        padding: 0 7rem;
        padding-bottom: 7rem;
        margin-top: 5rem;
    }

    &__footer {
        background-color: rgba($color-secondary, .7);
        color: $color-white;
        height: 18rem;
        display: flex;
        justify-content: center;
    }

    &__footerText {
        font-size: 1.5rem;
        text-align: center; 
        text-shadow: 1px 1px 1px rgba($color-black, .7);            
        position: relative;
        margin: auto 10rem;
        
        &::before {
            content: "";
            display: block;
            border-top: 2px solid $color-primary;
            width: 100rem;                        
            position: absolute;
            top: -30%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translate(-50%);
        }        

        span {
            color: $color-primary;          
            font-family: sans-serif;
        }
    }

    &__footerLink { 
        &:link,
        &:visited {
            color: currentColor;            
            text-decoration: none;
            border-bottom: 2px solid $color-primary;
            padding: 2px;  
        }
    }

    &__footerCredit {
        &:link,
        &:visited {
            color: currentColor;            
            text-decoration: none;
        }
    }
}