.app {
    background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, .1)), url('./img/hero1800w.jpg');
    background-size: 100% 100%;
    width: 100%;

    // Responsive sizes for hero img:
    @media only screen and (max-width: $bp-largest) {
        background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, .1)), url('./img/hero1600w.jpg');
    }

    @media only screen and (max-width: $bp-larger) {
        background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, .1)), url('./img/hero1400w.jpg');
    }

    @media only screen and (max-width: $bp-large) {
        background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, .1)), url('./img/hero1200w.jpg');
    }

    // @media only screen and (max-width: $bp-medium-large) {
    //     background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, .1)), url('./img/hero1000w.jpg');
    // }

    // @media only screen and (max-width: $bp-medium) {
    //     background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, .1)), url('./img/hero800w.jpg');
    // }

    // @media only screen and (max-width: $bp-small) {
    //     background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, .1)), url('./img/hero600w.jpg');
    // }

    // @media only screen and (max-width: $bp-smallest) {
    //     background-image: linear-gradient(to bottom, rgba(0,0,0, .2), rgba(0,0,0, .1)), url('./img/hero400w.jpg');
    // }

    &__header {
        font-family: $font-heading;
        text-align: center;
        padding: 2rem 0;
        font-size: 6rem;
        color: $color-white;
        text-shadow: 1px 1px 1px rgba($color-black, .7);

        @media only screen and (max-width: $bp-medium-large) {
            font-size: 5rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 4rem;
        }
    }

    &__videoContent {
        display: grid;
        grid-template-columns: 3fr 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 5rem;
        padding: 0 7rem;
        padding-bottom: 7rem;
        margin-top: 5rem;

        @media only screen and (max-width: $bp-larger) {
            grid-gap: 3rem;
            padding: 0 3rem;
            padding-bottom: 5rem;
            margin-top: 3rem;
        }

        @media only screen and (max-width: $bp-medium-large) {
            display: block;
            padding: 0 10rem;
            margin-top: 7rem;
        }

        @media only screen and (max-width: $bp-medium) {
            padding: 0 7rem;
            margin-top: 5rem;
        }
    }
}