.categories {
    display: none;
    background: rgba($color-secondary, .7);
    width: 100%; 
    list-style: none;

    &--opened {
        display: flex;
        animation: expandNav 1s ease-in;
        border-radius: 50%;
    }

    @media only screen and (min-width: $bp-small) { 
        display: flex;
        justify-content: space-around;
        margin: 5rem 0;
        border-top: 2px solid rgba($color-black, .5);
        border-bottom: 2px solid rgba($color-black, .5);
        box-shadow: .5rem 0 1.5rem rgba(0,0,0, .7);   
    }

    @media only screen and (max-width: $bp-medium) {
        margin: 3rem 0;
    }

    @media only screen and (max-width: $bp-small) { 
        flex-direction: column;
        justify-content: center;
        align-items: center;            
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100; 
        margin: 0 auto; 
        padding: 1rem 0; 
    }

    li {
        font-family: $font-heading;
        font-size: 2.5rem;
        color: $color-primary;
        cursor: pointer;
        text-shadow: 1px 1px 1px rgba($color-black, .7); 
        padding: 1rem;

        @media only screen and (max-width: $bp-medium) {
            font-size: 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 3rem;
            margin: 1.5rem;
            background: rgba($color-white, .7);
            border-radius: 10px;
            width: 50%;
            text-align: center;
            text-decoration: underline;
            box-shadow: .5rem .5rem 1.5rem rgba(0,0,0, .7);
            // transition: all .2s ease-out;

            // &:hover {
            //     transform: translateY(-2px);
            // }
        }
    }

    &__mobile-nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 5rem;
        width: 5rem;

        @media only screen and (max-width: $bp-small) {
            // Hamburger nav only visible under 1000px vw         
            display: block; 
            z-index: 1000;      
        }
    }
}

#nav-toggle {
    position: absolute;
    left: 0;
    top: 2rem;
    cursor: pointer;
    padding: 1rem 3.5rem 1.5rem 0;

    span,
    span::before,
    span::after {
        cursor: pointer;
        height: 2px;
        width: 4rem;
        background: $color-white;
        position: absolute;
        display: block;
        content: '';
        transition: transform .3s ease-in-out, hover .3s ease;
    }

    span::before {
        top: -1rem;      
    }

    span::after {
        bottom: -1rem;      
    }

    &:hover span::before {
        top: -1.2rem;
    }

    &:hover span::after {
        top: 1.2rem;
    }
      
    &.active span {
        background-color: transparent;
        
        &::before,
        &::after {
            top: 0;
            height: 2px;
        }
        
        &::before {
            transform: rotate(135deg);
        }

        &::after {
            transform: rotate(-135deg);
        }
    }
}

@keyframes expandNav {
    0% {
        top: 0;
        right: 0
    }

    25% {
        top: 0;
        right: 0;
        bottom: 75%;
        left: 75%;
    }

    50% {
        top: 0;
        right: 0;
        bottom: 50%;
        left: 50%;
    }

    75% {
        top: 0;
        right: 0;
        bottom: 25%;
        left: 25%;
    }

    100% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}