.footer {
    background-color: rgba($color-secondary, .7);
    color: $color-white;
    height: 18rem;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-medium-large) {
        height: 20rem;
    }

    @media only screen and (max-width: $bp-smaller) {
        height: 25rem;
    }


    &__text {
        font-size: 1.5rem;
        text-align: center; 
        text-shadow: 1px 1px 1px rgba($color-black, .7);            
        position: relative;
        margin: auto 10rem;

        @media only screen and (max-width: $bp-medium-large) {
            font-size: 1.8rem;
        }

        @media only screen and (max-width: $bp-medium-large) {
            margin: auto 5rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.4rem;
            line-height: 1.5;
            margin: auto 5rem;
        }
        
        &::before {
            content: "";
            display: block;
            border-top: 2px solid $color-primary;
            width: 100rem;                        
            position: absolute;
            top: -30%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translate(-50%);

            @media only screen and (max-width: $bp-larger) {
                width: 75rem;
            }

            @media only screen and (max-width: $bp-medium-large) {
                top: -20%;
            }

            @media only screen and (max-width: $bp-medium) {
                width: 70rem;
            }

            @media only screen and (max-width: $bp-medium-small) {
                width: 60rem;
            }

            @media only screen and (max-width: $bp-small) {
                width: 50rem;
            }

            @media only screen and (max-width: $bp-smaller) {
                width: 40rem;
            }

            @media only screen and (max-width: $bp-smallest) {
                top: -15%;
                width: 30rem;
            }
        }        

        span {
            color: $color-primary;          
            font-family: sans-serif;
        }
    }

    &__link,
    &__credit,
    &__author {
        transition: all .2s ease;
        
        &:link,
        &:visited {
            color: currentColor;            
            text-decoration: none;
            padding: 2px 5px; 
        }

        &:hover {
            background: $color-primary;
            box-shadow: .5rem .5rem 1rem rgba(0,0,0, .5);
        }
    }

    &__link { 
        border-bottom: 2px solid $color-primary; 
    }
}