.searchBar {

    &__form {
        width: 50%;
        margin: 0 auto;
    }

    &__fieldset {
        display: flex;
        flex-direction: column;
        text-align: center;
        border: none;
    }

    &__input {
        margin: 0 auto;
        width: 100%;
        font-size: 2rem;
        font-family: $font-content;
        padding: 10px;
        background: rgba(255, 255, 255, .7);
        border-radius: 10px;
        border: none;

        @media only screen and (max-width: $bp-medium-large) {
            font-size: 2.3rem;
        }
        
        &::placeholder {
            color: $color-primary;
        }
    }
}