.videoDetail {

    &__aspectRatio {
        position: relative;
        padding-bottom: 56.25%; /* Player ratio: 100 / (1280 / 720) */
    }

    &__reactPlayer {
        position: absolute;
        bottom: 0;
        left:0;
        box-shadow: 0 .5rem 1.5rem rgba(0,0,0, .7);
    }

    &__description {
        background: rgba(0,0,0, .5);
        color: $color-white;
        box-shadow: .5rem .5rem 1.5rem rgba(0,0,0, .7);
        text-shadow: 1px 1px 1px rgba($color-black, .7);
        padding: 2rem 5rem;

        @media only screen and (max-width: $bp-medium) {
            padding: 1.5rem 3rem;
        }

        h2 a {
            &:link,
            &:visited{
                display: block;
                color: currentColor;
                background: rgba($color-tertiary, .1);
                font-size: 2rem;
                text-decoration: underline;
                padding: 1rem 2rem 0 2rem;
                border-top: 1px solid $color-white;
                transition: all .2s ease;

                &:hover {
                    color: $color-secondary;
                    text-decoration: none;
                }
    
                @media only screen and (max-width: $bp-medium-large) {
                    font-size: 2.5rem;
                }
    
                @media only screen and (max-width: $bp-medium) {
                    font-size: 2rem;
                }
            }
        }

        span {
            display: block;
            background: rgba($color-tertiary, .1);
            color: $color-secondary;
            font-size: 1.5rem;
            padding: .5rem 2rem 1rem 2rem;

            @media only screen and (max-width: $bp-medium-large) {
                font-size: 2rem;
            }

            @media only screen and (max-width: $bp-medium) {
                font-size: 1.8rem;
            }
        }
    
        p {
            font-size: 1.5rem;
            background: rgba($color-tertiary, .1);
            padding: 0 2rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $color-white;

            @media only screen and (max-width: $bp-medium-large) {
                font-size: 2rem;
            }

            @media only screen and (max-width: $bp-medium) {
                font-size: 1.8rem;
            }
        }
    }
}